* {
    padding: 0;
    margin: 0;
}

.container-fluid {
    width: 100%;
    height: 100vh;
}

.container-fluid .header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container-fluid .nav {
    height: 7rem;
    background-color: #212322;
}

.container-fluid .nav h1 {
    padding: 1.75rem;
    font-size: 2.50rem;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-family:'Outfit', sans-serif;    
    text-align: center;
    color: white;
}

.main .content {
    position: relative;
    right: 3rem;
    margin: 4rem 5rem;
    height: 11rem;
    width: 40rem;
    background-color: #F2F2F2;
}

.main .content h1 {
    position: relative;
    top: 1rem;
    margin: 0 5rem 2rem 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
    font-family:'Outfit', sans-serif;
}

.main .content p {
    font-weight: 300;
    font-size: 0.875rem;
    margin: 0 0 3rem 2rem;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-family: 'Sora', sans-serif;
}

.main {
    padding: 0 20rem 0 15rem;
    max-width: 720px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main .part-1,
.part-2,
.part-3,
.part-4,
.part-5,
.part-6,
.part-7,
.part-8,
.part-9,
.part-10 {
    margin: 0 0 3rem 0;
}

.main .part-11 {
    margin: 0 0 5rem 0;
}

.main .part-1 h3,
.part-2 h3,
.part-3 h3,
.part-4 h3,
.part-5 h3,
.part-6 h3,
.part-7 h3,
.part-8 h3,
.part-9 h3,
.part-10 h3,
.part-11 h3 {
    margin-bottom: 1rem;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Sora', sans-serif;
}

.main .part-1 p,
.part-2 p,
.part-3 p,
.part-4 p,
.part-5 p,
.part-6 p,
.part-7 p,
.part-8 p,
.part-9 span,
.part-9 .part-9-p1,
.part-10 p {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-family: 'Sora', sans-serif;
    color: rgb(100, 100, 100);
}

.main .icon-vector {
    margin-left: 1rem;
}

#rotation1, 
#rotation2,
#rotation3,
#rotation4,
#rotation5,
#rotation6,
#rotation7,
#rotation8,
#rotation9,
#rotation10,
#rotation11 {
    transition: linear 0.3s;
}

.down {
    transform: rotate(178deg);
}

.main .part-3 .part-3-p1 {
    margin-bottom: 0.5rem;
}

.main .part-5 p,
.part-6 p,
.part-7 p,
.part-8 p {
    margin-bottom: 0.5rem;
}

.main .part-5 img,
.part-6 img,
.part-7 img,
.part-8 img {
    margin-right: 0.5rem;
}

.main .part-7 .p,
.part-8 .p {
    margin-left: 1.5rem;
}

.main .part-9 .part-9-p1 {
    margin-bottom: 1rem;
}

.main .part-9 a {
    font-weight: 300;
    font-size: 0.875rem;
    text-decoration: none;
    font-family: 'Sora', sans-serif;
}

.main .part-9 .part-9-p3 {
    font-weight: 300;
    font-size: 0.875rem;
    margin-top: 2rem;
    padding: 1rem;
    height: 2rem;
    width: 26rem;
    background-color: #F2F2F2;
    font-family: 'Sora', sans-serif;
}

.main .part-11 h3 {
    font-weight: 400;
    font-size: 1rem;
    margin: 2rem 0;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-size: 1.3rem;
    font-family: 'Sora', sans-serif;
}

.main .part-11 .button {
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none;
    font-family: 'Sora', sans-serif;
    color: white;
    background-color: #00B140;
}

.main hr {
    margin-top: 1.5rem;
    border-top: 1px solid whitesmoke;
}

.footer {
    height: 5rem;
    color: white;
    background-color: #212322;
}

.footer p {
    padding: 1.9rem;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-family:'Outfit', sans-serif;
}


/* screen only 360px */
@media only screen and (min-width: 360px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    .container-fluid {
        width: 100%;
        height: 100vh;
    }
    
    .container-fluid .header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .container-fluid .nav {
        height: 7rem;
        background-color: #212322;
    }
    
    .container-fluid .nav h1 {
        padding: 2.6rem;
        font-size: 2.50rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family:'Outfit', sans-serif;        
        text-align: center;
        color: white;
    }
    
    .main .content {
        margin: 2rem 1.9rem;
        height: 15rem;
        width: 19.7rem;
        background-color:#F2F2F2;
    }
    
    .main .content h1 {
        position: relative;
        top: 2rem;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin: 0 5rem 3rem 2rem;
        letter-spacing: 0.2px;
        font-family:'Outfit', sans-serif;

    }
    
    .main .content p {
        font-weight: 300;
        font-size: 0.875rem;
        letter-spacing: 0.2px;
        font-family: 'Sora', sans-serif;
        margin: 3.8rem 1.5rem;
    }
    
    .main {
        padding: 0 2.1rem;
        max-width: 720px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main .part-1,
    .part-2,
    .part-3,
    .part-4,
    .part-5,
    .part-6,
    .part-7,
    .part-8,
    .part-9,
    .part-10 {
        margin: 0 0 3rem 0;
    }
    
    .main .part-11 {
        margin: 0 0 5rem 0;
    }
    
    .main .part-1 h3,
    .part-2 h3,
    .part-3 h3,
    .part-4 h3,
    .part-5 h3,
    .part-6 h3,
    .part-7 h3,
    .part-8 h3,
    .part-9 h3,
    .part-10 h3,
    .part-11 h3 {
        margin-bottom: 1rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-weight: 400;
        font-size: 1rem;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-1 p,
    .part-2 p,
    .part-3 p,
    .part-4 p,
    .part-5 p,
    .part-6 p,
    .part-7 p,
    .part-8 p,
    .part-9 span,
    .part-9 .part-9-p1,
    .part-10 p {
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family: 'Sora', sans-serif;
        color: rgb(100, 100, 100);
    }
    
    .main .icon-vector {
        margin-left: 1rem;
    }

    #rotation1 {
        transition: linear 0.3s;
    }
    
    .down {
        transform: rotate(178deg);
    }
    
    .main .part-3 .part-3-p1 {
        margin-bottom: 0.5rem;
    }
    
    .main .part-5 p,
    .part-6 p,
    .part-7 p,
    .part-8 p {
        margin-bottom: 0.5rem;
    }

    .main .part-5 img,
    .part-6 img,
    .part-7 img,
    .part-8 img {
        margin-right: 0.5rem;
    }

    .main .part-7 .p,
    .part-8 .p {
        margin-left: 1.5rem;
    }

    .main .part-9 .part-9-p1 {
        margin-bottom: 1rem;
    }
    
    .main .part-9 a {
        font-weight: 300;
        font-size: 0.875rem;
        text-decoration: none;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-9 .part-9-p3 {
        font-weight: 300;
        font-size: 0.875rem;
        margin-top: 2rem;
        padding: 1rem;
        height: 2.3rem;
        width: 15.5rem;
        background-color: #F2F2F2;
        font-family: 'Sora', sans-serif;
    }

    .main .part-11 h3 {
        margin: 2rem 0;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-weight: 400;
        font-size: 1rem;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-11 .button {
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.2px;
        text-decoration: none;
        font-family: 'Sora', sans-serif;
        color: white;
        background-color: #00B140;
    }
    
    .main hr {
        margin-top: 1.5rem;
        border-top: 1px solid whitesmoke;
    }
    
    .footer {
        height: 7rem;
        color: white;
        background-color: #212322;
    }
    
    .footer p {
        padding: 1.8rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family:'Outfit', sans-serif;
    }
}


/* screen only 480px*/

@media only screen and (min-width: 480px) { 
    * {
        padding: 0;
        margin: 0;
    }
    
    .container-fluid {
        width: 100%;
        height: 100vh;
    }
    
    .container-fluid .header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .container-fluid .nav {
        height: 7rem;
        background-color: #212322;
    }
    
    .container-fluid .nav h1 {
        padding: 2.6rem;
        font-size: 2.50rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family:'Outfit', sans-serif;
        text-align: center;
        color: white;
    }
    
    .main .content {
        margin: 2rem 0rem 2rem 3rem;
        height: 13.5rem;
        width: 25rem;
        background-color:#F2F2F2;
    }
    
    .main .content h1 {
        position: relative;
        top: 2rem;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin: 0 5rem 3rem 2rem;
        font-family: 'Poppins', sans-serif;
    }
    
    .main .content p {
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin: 3.8rem 1rem 3rem 1rem;
        font-family: 'Sora', sans-serif;
    }
    
    .main {
        max-width: 720px;
        padding: 0 2.5rem 0 2.5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main .part-1,
    .part-2,
    .part-3,
    .part-4,
    .part-5,
    .part-6,
    .part-7,
    .part-8,
    .part-9,
    .part-10 {
        margin: 0 0 3rem 0;
    }
    
    .main .part-11 {
        margin: 0 0 5rem 0;
    }
    
    .main .part-1 h3,
    .part-2 h3,
    .part-3 h3,
    .part-4 h3,
    .part-5 h3,
    .part-6 h3,
    .part-7 h3,
    .part-8 h3,
    .part-9 h3,
    .part-10 h3,
    .part-11 h3 {
        margin-bottom: 1rem;
        line-height: 2rem;
        letter-spacing: 0.2px;
        font-weight: 400;
        font-size: 1rem;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-1 p,
    .part-2 p,
    .part-3 p,
    .part-4 p,
    .part-5 p,
    .part-6 p,
    .part-7 p,
    .part-8 p,
    .part-9 span,
    .part-9 .part-9-p1,
    .part-10 p {
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family: 'Sora', sans-serif;
        color: rgb(100, 100, 100);
    }
    
    .main .icon-vector {
        margin-left: 1rem;
    }
    
    #rotation1 {
        transition: linear 0.3s;
    }
    
    .down {
        transform: rotate(178deg);
    }

    .main .part-3 .part-3-p1 {
        margin-bottom: 0.5rem;
    }
    
    .main .part-5 p,
    .part-6 p,
    .part-7 p,
    .part-8 p {
        margin-bottom: 0.5rem;
    }

    .main .part-5 img,
    .part-6 img,
    .part-7 img,
    .part-8 img {
        margin-right: 0.5rem;
    }

    .main .part-7 .p,
    .part-8 .p {
        margin-left: 1.5rem;
    }
    
    .main .part-9 .part-9-p1 {
        margin-bottom: 1rem;
    }
    
    .main .part-9 a {
        font-weight: 300;
        font-size: 0.875rem;
        text-decoration: none;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-9 .part-9-p3 {
        font-weight: 300;
        font-size: 0.875rem;
        margin-top: 2rem;
        padding: 1rem;
        height: 1.5rem;
        width: 23rem;
        background-color: #F2F2F2;
        font-family: 'Sora', sans-serif;
    }

    .main .part-11 h3 {
        margin: 2rem 0;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-weight: 400;
        font-size: 1rem;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-11 .button {
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.2px;
        text-decoration: none;
        font-family: 'Sora', sans-serif;
        color: white;
        background-color: #00B140;
    }
    
    .main hr {
        margin-top: 1.5rem;
        border-top: 1px solid whitesmoke;
    }
    
    .footer {
        height: 5.5rem;
        color: white;
        background-color: #212322;
    }
    
    .footer p {
        padding: 1rem 4rem 0 4rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family:'Outfit', sans-serif;
    }
}


/* screen only 600px*/
@media only screen and (min-width: 600px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    .container-fluid {
        width: 100%;
        height: 100vh;
    }
    
    .container-fluid .header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .container-fluid .nav {
        height: 7rem;
        background-color: #212322;
    }
    
    .container-fluid .nav h1 {
        padding: 2.8rem;
        font-size: 2.50rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family:'Outfit', sans-serif;
        text-align: center;
        color: white;
    }
    
    .main .content {
        margin: 2rem 3rem;
        height: 12rem;
        width: 25rem;
        background-color: #F2F2F2;
    }
    
    .main .content h1 {
        position: relative;
        top: 2rem;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin: 0 5rem 3.5rem 2rem;
        letter-spacing: 0.2px;
        font-family:'Outfit', sans-serif;
    }
    
    .main .content p {
        margin: 0 2rem;
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family: 'Sora', sans-serif;
    }
    
    .main {
        padding: 0 2.5rem 0 2.5rem;
        max-width: 720px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main .part-1,
    .part-2,
    .part-3,
    .part-4,
    .part-5,
    .part-6,
    .part-7,
    .part-8,
    .part-9,
    .part-10 {
        margin: 0 0 3rem 0;
    }
    
    .main .part-11 {
        margin: 0 0 5rem 0;
    }
    
    .main .part-1 h3,
    .part-2 h3,
    .part-3 h3,
    .part-4 h3,
    .part-5 h3,
    .part-6 h3,
    .part-7 h3,
    .part-8 h3,
    .part-9 h3,
    .part-10 h3,
    .part-11 h3 {
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-size: 1.3rem;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-1 p,
    .part-2 p,
    .part-3 p,
    .part-4 p,
    .part-5 p,
    .part-6 p,
    .part-7 p,
    .part-8 p,
    .part-9 span,
    .part-9 .part-9-p1,
    .part-10 p {
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 1.5rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family: 'Sora', sans-serif;
        color: rgb(100, 100, 100);
    }
    
    .main .icon-vector {
        margin-left: 1rem;
    }

    #rotation1 {
        transition: linear 0.3s;
    }
    
    .down {
        transform: rotate(178deg);
    }
    
    .main .part-3 .part-3-p1 {
        margin-bottom: 0.5rem;
    }
    
    .main .part-5 p,
    .part-6 p,
    .part-7 p,
    .part-8 p {
        margin-bottom: 0.5rem;
    }

    .main .part-5 img,
    .part-6 img,
    .part-7 img,
    .part-8 img {
        margin-right: 0.5rem;
    }

    .main .part-7 .p,
    .part-8 .p {
         margin-left: 1.5rem;
    }
    
    .main .part-9 .part-9-p1 {
        margin-bottom: 1rem;
    }
    
    .main .part-9 a {
        font-weight: 300;
        font-size: 0.875rem;
        text-decoration: none;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-9 .part-9-p3 {
        font-weight: 300;
        font-size: 0.875rem;
        margin-top: 2rem;
        padding: 1rem;
        height: 1.3rem;
        width: 23rem;
        background-color: #F2F2F2;
        font-family: 'Sora', sans-serif;
    }

    .main .part-11 h3 {
        margin: 2rem 0;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-weight: 400;
        font-size: 1.3rem;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-11 .button {
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.2px;
        text-decoration: none;
        font-family: 'Sora', sans-serif;
        color: white;
        background-color: #00B140;
    }
    
    .main hr {
        margin-top: 1.5rem;
        border-top: 1px solid whitesmoke;
    }
    
    .footer {
        height: 6rem;
        color: white;
        background-color: #212322;
    }
    
    .footer p {
        padding: 1.3rem 8rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family:'Outfit', sans-serif;
    }
    
}


/* screen only 1024px*/
@media only screen and (min-width: 1024px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    .container-fluid {
        width: 100%;
        height: 100vh;
    }
    
    .container-fluid .header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .container-fluid .nav {
        height: 7rem;
        background-color: #212322;
    }
    
    .container-fluid .nav h1 {
        padding: 2.8rem;
        font-size: 2.50rem;
        letter-spacing: 0.2px;
        font-family: 'Outfit', sans-serif;
        text-align: center;
        color: white;
    }
    
    .main .content {
        position: relative;
        right: 2rem;
        margin: 4rem 2rem;
        height: 13rem;
        width: 25rem;
        background-color: #F2F2F2;
    }
    
    .main .content h1 {
        position: relative;
        top: 2rem;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin: 0 0 3.5rem 2rem;
        letter-spacing: 0.2px;
        font-family:'Outfit', sans-serif;
    }
    
    .main .content p {
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 1.8rem;
        margin: 2.5rem 2rem 3rem 2rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family: 'Sora', sans-serif;
    }
    
    .main {
        padding: 0 15rem 0 15rem;
        max-width: 720px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main .part-1,
    .part-2,
    .part-3,
    .part-4,
    .part-5,
    .part-6,
    .part-7,
    .part-8,
    .part-9,
    .part-10 {
        margin: 0 0 3rem 0;
    }
    
    .main .part-11 {
        margin: 0 0 5rem 0;
    }
    
    .main .part-1 h3,
    .part-2 h3,
    .part-3 h3,
    .part-4 h3,
    .part-5 h3,
    .part-6 h3,
    .part-7 h3,
    .part-8 h3,
    .part-9 h3,
    .part-10 h3,
    .part-11 h3 {
        margin-bottom: 1rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-weight: 400;
        font-size: 1rem;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-1 p,
    .part-2 p,
    .part-3 p,
    .part-4 p,
    .part-5 p,
    .part-6 p,
    .part-7 p,
    .part-8 p,
    .part-9 span,
    .part-9 .part-9-p1,
    .part-10 p {
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family: 'Sora', sans-serif;
        color: rgb(100, 100, 100);
    }
    
    .main .icon-vector {
        margin-left: 1rem;
    }

    #rotation1 {
        transition: linear 0.3s;
    }
    
    .down {
        transform: rotate(178deg);
    }
    
    .main .part-3 .part-3-p1 {
        margin-bottom: 0.5rem;
    }
    
    .main .part-5 p,
    .part-6 p,
    .part-7 p,
    .part-8 p {
        margin-bottom: 0.5rem;
    }

    .main .part-5 img,
    .part-6 img,
    .part-7 img,
    .part-8 img {
        margin-right: 0.5rem;
    }

    .main .part-7 .p,
    .part-8 .p {
        margin-left: 1.5rem;
    }
    
    .main .part-9 .part-9-p1 {
        margin-bottom: 1rem;
    }
    
    .main .part-9 a {
        font-weight: 300;
        font-size: 0.875rem;
        text-decoration: none;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-9 .part-9-p3 {
        font-weight: 300;
        font-size: 0.875rem;
        margin-top: 2rem;
        padding: 1rem;
        height: 1.5rem;
        width: 23rem;
        background-color: #F2F2F2;
        font-family: 'Sora', sans-serif;
    }

    .main .part-11 h3 {
        margin: 2rem 0;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-weight: 400;
        font-size: 1rem;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-11 .button {
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.2px;
        text-decoration: none;
        font-family: 'Sora', sans-serif;
        color: white;
        background-color: #00B140;
    }
    
    .main hr {
        margin-top: 1.5rem;
        border-top: 1px solid whitesmoke;
    }
    
    .footer {
        height: 5rem;
        color: white;
        background-color: #212322;
    }
    
    .footer p {
        padding: 1.7rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family:'Outfit', sans-serif;
    }
}


/* screen only 1280px*/
@media only screen and (min-width: 1280px) { 
    * {
        padding: 0;
        margin: 0;
    }
    
    .container-fluid {
        width: 100%;
        height: 100vh;
    }
    
    .container-fluid .header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .container-fluid .nav {
        height: 7rem;
        background-color: #212322;
    }
    
    .container-fluid .nav h1 {
        padding: 2.8rem;
        font-size: 2.50rem;
        font-family: 'Outfit', sans-serif;
        text-align: center;
        color: white;
    }
    
    .main .content {
        position: relative;
        right: 5rem;
        margin: 4rem 5rem;
        height: 12rem;
        width: 34rem;
        background-color: #F2F2F2;
    }
    
    .main .content h1 {
        position: relative;
        top: 2rem;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin: 0 5rem 2rem 2rem;
        font-family: 'Outfit', sans-serif;
    }
    
    .main .content p {
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 24px;
        margin: 3.5rem 2rem 3rem 2rem;
        letter-spacing: 0.2px;
        font-family: 'Sora', sans-serif;
    }
    
    .main {
        padding: 0 20rem 0 15rem;
        max-width: 720px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main .part-1,
    .part-2,
    .part-3,
    .part-4,
    .part-5,
    .part-6,
    .part-7,
    .part-8,
    .part-9,
    .part-10 {
        margin: 0 0 3rem 0;
    }
    
    .main .part-11 {
        margin: 0 0 5rem 0;
    }
    
    .main .part-1 h3,
    .part-2 h3,
    .part-3 h3,
    .part-4 h3,
    .part-5 h3,
    .part-6 h3,
    .part-7 h3,
    .part-8 h3,
    .part-9 h3,
    .part-10 h3,
    .part-11 h3 {
        margin-bottom: 1rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-weight: 400;
        font-size: 1rem;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-1 p,
    .part-2 p,
    .part-3 p,
    .part-4 p,
    .part-5 p,
    .part-6 p,
    .part-7 p,
    .part-8 p,
    .part-9 span,
    .part-9 .part-9-p1,
    .part-10 p {
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family: 'Sora', sans-serif;
        color: rgb(100, 100, 100);
    }
    
    .main .icon-vector {
        margin-left: 1rem;
    }
    
    #rotation1 {
        transition: linear 0.3s;
    }
    
    .down {
        transform: rotate(178deg);
    }

    .main .part-3 .part-3-p1 {
        margin-bottom: 0.5rem;
    }
    
    .main .part-5 p,
    .part-6 p,
    .part-7 p,
    .part-8 p {
        margin-bottom: 0.5rem;
    }

    .main .part-5 img,
    .part-6 img,
    .part-7 img,
    .part-8 img {
        margin-right: 0.5rem;
    }

    .main .part-7 .p,
    .part-8 .p {
        margin-left: 1.5rem;
    }
    
    .main .part-9 .part-9-p1 {
        margin-bottom: 1rem;
    }
    
    .main .part-9 a {
        font-weight: 300;
        font-size: 0.875rem;
        text-decoration: none;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-9 .part-9-p3 {
        font-weight: 300;
        font-size: 0.875rem;
        margin-top: 2rem;
        padding: 1rem;
        height: 1.2rem;
        width: 23rem;
        background-color: #F2F2F2;
        font-family: 'Sora', sans-serif;
    }

    .main .part-11 h3 {
        font-weight: 400;
        font-size: 1rem;
        margin: 2rem 0;
        line-height: 24px;
        letter-spacing: 0.2px;
        font-family: 'Sora', sans-serif;
    }
    
    .main .part-11 .button {
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 0.2px;
        text-decoration: none;
        font-family: 'Sora', sans-serif;
        color: white;
        background-color: #00B140;
    }
    
    .main hr {
        margin-top: 1.5rem;
        border-top: 1px solid whitesmoke;
    }
    
    .footer {
        height: 5rem;
        color: white;
        background-color: #212322;
    }
    
    .footer p {
        padding: 1.7rem;
        letter-spacing: 0.2px;
        font-family: 'Sora', sans-serif;
    }
}